.wristbands .row-actions, .chains .row-actions {
	padding-bottom: 10px;
}
.fixed .column-wb_number , .fixed.wristbands .column-approved{
	width: 8%;
}
.fixed.wristbands .column-user{
	width: 10%;
}

.fixed.wristbands .column-chain_id {
	width: 5%;
}
.column-stories h4 {
	margin-top: 0;
}
.wristband.unapproved, .chain.notexported {
	background-color: lightYellow;
}

.chain.inactive td{
	color: silver;
}

.wp-admin #footer {
	display: none;
}

.misc-publishing-actions .export_status{
	padding: 0 20px;
	font-style: italic;
}